{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Password change' %}{% endblock page_title %}


{% block content %}
    <div style="margin-top: 10%;">
        <div style="width: fit-content; margin: 0 auto;text-align: center">
            <h2>Password changed successfully!</h2>
            <h5>Your password has been successfully changed. Please visit the login page to access the website.</h5>
            <a href="{% url 'login' %}"><input style="width: 20%; background-color: #0c63e4" type="submit" value="Login"/></a>
        </div>
    </div>
{% endblock content %}