{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Password change' %}{% endblock page_title %}


{% block content %}
    <section class="vh-100" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                         class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form class="form" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <!-- Submit button -->
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-lg btn-block">{% trans 'Submit' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}