{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block page_title %}{{ place.title }}{% endblock page_title %}

{% block content %}
    <!-- CONTENT -->
    <div class="directify_fn_content">

        <!-- PLACE OR SERVICE -->
        <div class="directify_fn_blog_single_wrap">
            <div class="directify_fn_blog_single">
                <div class="blog_single">
                    <div class="container">
                        <div class="blog_single_wrapper" style="margin-top: 2%; text-align: right; direction: rtl">
                            <h3>{{ place.title }}</h3>
                            <hr>
                            <br>

                            <!-- PLACE IMAGE MAIN -->
                            <div class="post_img">
                                {% if place.image_main %}
                                    <img src="{{ place.image_main.url }}" alt="{{ place.title }}"
                                         style="width: fit-content; height: auto">
                                {% elif place.image2 %}
                                    <img src="{{ place.image2.url }}" alt="{{ place.title }}"
                                         style="width: fit-content; height: auto">
                                {% elif place.image3 %}
                                    <img src="{{ place.image3.url }}" alt="{{ place.title }}"
                                         style="width: fit-content; height: auto">
                                {% elif place.image4 %}
                                    <img src="{{ place.image4.url }}" alt="{{ place.title }}"
                                         style="width: fit-content; height: auto">
                                {% elif place.image5 %}
                                    <img src="{{ place.image5.url }}" alt="{{ place.title }}"
                                         style="width: fit-content; height: auto">
                                {% else %}
                                    {% if place.category == 'Food & Drink' %}
                                        <img src="{% static 'img/places/services/Food and Drink service_1_11zon.jpg' %}"
                                             alt="{{ place.title }}"/>
                                    {% elif place.category == 'medical' %}
                                        <img src="{% static 'img/places/services/medical service_2_11zon.jpg' %}"
                                             alt="{{ place.title }}"/>
                                    {% elif place.category == 'technical' %}
                                        <img src="{% static 'img/places/services/technical service_4_11zon.jpg' %}"
                                             alt="{{ place.title }}"/>
                                    {% elif place.category == 'store' %}
                                        <img src="{% static 'img/places/services/store service_3_11zon.jpg' %}"
                                             alt="{{ place.title }}"/>
                                    {% elif place.category == 'entertainment' %}
                                        <img src="{% static 'img/places/services/entertainment service_6_11zon.jpg' %}"
                                             alt="{{ place.title }}"/>
                                    {% elif place.category == 'other' %}
                                        <img src="{% static 'img/places/services/other.png' %}"
                                             alt="{{ place.title }}"/>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <!-- /PLACE IMAGE MAIN -->

                            <!-- PLACE CONTENT -->
                            <div class="post_content" style="margin-top: 2%">
                                <div class="title_holder">
                                    <span>
                                        {% trans 'Category' %} :
                                        <a href="{% url 'place_list' %}?category={{ place.category|urlencode }}"
                                           class="filter">{{ place.category }}</a>
                                        <span class="date">{{ place.datetime_created }}</span>
                                    </span>

                                    <div class="directify_fn_tags">
                                        <h5 style="color: #C10A28"><strong>{% trans 'Important' %} :</strong></h5>
                                        <h6 style="color: #C10A28">
                                            {% trans "Only the authenticity of the existence or non-existence of each location and the authenticity of the service providers' jobs have been reviewed by the site support. Accordingly, the site owner does not bear any responsibility or endorsement for the level of skill or quality of services provided by the stores or individuals introduced. Therefore, to remind you of the main purpose of this website, the final decision to use the services is yours and based on the suggestions of other users and is completely optional." %}
                                        </h6>
                                    </div>
                                    <hr>
                                    <h3>{% trans 'Description' %}</h3>
                                    <p class="text">{{ place.description }}</p>
                                    <h4>{% trans "Information's" %} :</h4>
                                    <p class="text">{% trans 'City' %} : {{ place.city }}</p>
                                    {% if place.address %}
                                        <p class="text">{% trans 'Address' %} : {{ place.address }}</p>
                                    {% endif %}
                                    {% if place.phone_number %}
                                        <p class="text">{% trans 'Phone' %} : {{ place.phone_number }}</p>
                                    {% endif %}
                                    {% if place.website %}
                                        <p class="text">{% trans 'Website' %} : <a href="{{ place.website }}"
                                                                                   target="_blank">{{ place.website }}</a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- /PLACE CONTENT -->

                            <!-- PLACE OTHER IMAGES -->
                            {% if  images %}
                                <div class="directify_fn_simple_famous_cities_wrap" style="margin-top: 2%">
                                    <div class="directify_fn_simple_famous_cities">
                                        <div class="simple_famous_cities">
                                            <div class="container">
                                                <div class="simple_famous_cities_wrap">
                                                    <div class="title_holder">
                                                        <h3>{% trans 'Photos' %}</h3>
                                                        <hr>
                                                    </div>
                                                    <div class="fam_cities_wrap directify_fn_masonry">
                                                        {% for image in images %}
                                                            <div class="fam_city_wrap directify_fn_masonry_in">
                                                                <img src="{{ image }}" alt="{{ place.title }}"/>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- /PLACE OTHER IMAGES -->

                            <!-- POST COMMENT -->
                            <div class="directify_fn_comment_wrapper" style="margin-top: 2%; direction: rtl">
                                <div class="directify_fn_comment">

                                    <!-- COMMENTS -->
                                    <div class="comments">
                                        <div class="title_holder">
                                            <h2>{% trans 'All Comments' %}</h2>
                                            <hr>
                                        </div>
                                        {% if comments %}
                                            <!-- #1 COMMENT -->
                                            {% for comment in comments|dictsort:"datetime_created" %}
                                                <div class="comment_single" style="text-align: right;">
                                                    {#                                              This is for Comment profile pic#}
                                                    {#                                                    <div class="person_info">#}
                                                    {#                                                        <div class="info">#}
                                                    {#                                                            <div class="img_holder">#}
                                                    {#                                                                <img src="{{ comment.user.profile_pic.url }}"#}
                                                    {#                                                                     alt="{{ comment.user.username }}'s pic"/>#}
                                                    {#                                                            </div>#}
                                                    {#                                                        </div>#}
                                                    {#                                                    </div>#}
                                                    <div class="person_comment">
                                                        <div class="inner">
                                                    <span>
                                                        <span class="name">{{ comment.user.username }}</span>
                                                        <span class="date">{{ comment.datetime_created }}</span>
                                                        <hr style="width: fit-content;">
                                                        <br>
                                                        {% if comment.user_rating == 'عالی' %}
                                                            <span>{% trans 'Rating' %} :
                                                            <span class="rating"
                                                                  style="color: #19cb33">عالی</span>
                                                            <img src="{% static 'img/places/icons/like_perfect.png' %}"
                                                                 alt="perfect">
                                                        </span>
                                                        {% elif comment.user_rating == 'خوب' %}
                                                            <span>{% trans 'Rating' %} :
                                                            <span class="rating"
                                                                  style="color: #0089E2">خوب</span>
                                                            <img src="{% static 'img/places/icons/like_good.png' %}"
                                                                 alt="good">
                                                        </span>
                                                        {% elif comment.user_rating == 'ضعیف' %}
                                                            <span>{% trans 'Rating' %} :
                                                            <span class="rating"
                                                                  style="color: #EA9037">ضعیف</span>
                                                            <img src="{% static 'img/places/icons/dislike_weak.png' %}"
                                                                 alt="weak">
                                                        </span>
                                                        {% elif comment.user_rating == 'بسیار بد' %}
                                                            <span>{% trans 'Rating' %} :
                                                            <span class="rating"
                                                                  style="color: red">بسیار بد</span>
                                                            <img src="{% static 'img/places/icons/dislike_toobad.png' %}"
                                                                 alt="too bad">
                                                        </span>
                                                        {% endif %}
                                                    </span>
                                                            <p style="direction: rtl; text-align: justify">{{ comment.text|linebreaks }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <!-- /#1 COMMENT -->
                                        {% else %}
                                            <p style="font-size: large">
                                                {% trans 'Be the first to share your opinion on this post.' %}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <!-- /COMMENTS -->

                                    <!-- ADDING A COMMENT -->
                                    <div class="add_comment_wrap">
                                        <div class="add_comment">
                                            <div class="title_holder">
                                                <h2>{% trans 'Write your Comment' %}</h2>
                                            </div>
                                            <form class="form" method="POST">
                                                {% csrf_token %}
                                                {{ comment_form|crispy }}
                                                    <button type="submit" class="btn btn-success"
                                                            data-mdb-ripple-init data-mdb-ripple-color="dark"
                                                            title="{% trans 'Submit your Comment.' %}">
                                                        {% trans 'Submit' %}
                                                    </button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /ADDING A COMMENT -->

                                </div>
                            </div>
                            <!-- /POST COMMENT -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /PLACE OR SERVICE -->
    </div>
    <!-- /CONTENT -->
{% endblock content %}
