{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Services' %}{% endblock page_title %}

<!-- HEADER -->
{% block header %}
    <header class="directify_fn_header_wrap" data-bg-type="light">
        <div>
            <div class="directify_fn_header">
                <div class="header">
                    <div class="directify_fn_header_logo">
                        <a class="dark" href="{% url 'home' %}"><img src="{% static 'img/logo_small.png' %}"
                                                                     alt=""/></a>
                        <a class="light" href="{% url 'home' %}"><img src="{% static 'img/logo_small.png' %}"
                                                                      alt=""/></a>
                    </div>
                    <div class="directify_fn_header_search">
                        <a href="#" style="margin-top: 15%">
                            <img class="svg" src="{% static 'img/svg/search.svg' %}" alt=""/>
                            Search
                        </a>
                        <div class="directify_fn_header_search_see_wrap one">
                            <div class="header_search_see">
                                <div class="selects">
                                    <div>
                                        <label>
                                            <input class="directify_fn_search_input" type="search"
                                                   placeholder="What Are You Looking For?"/>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <select class="directify_fn_select">
                                                <option value="all">All Listings</option>
                                                <option value="restaurant">Restaurants</option>
                                                <option value="hotel">Hotels</option>
                                                <option value="shopping">Shopping</option>
                                                <option value="gallery">Gallery</option>
                                                <option value="park">Park</option>
                                                <option value="movie">Movie</option>
                                                <option value="service">Services</option>
                                                <option value="theatre">Theatres</option>
                                                <option value="hospital">Hospitals</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div>
                                        <label for="select-location-1"></label><input type="text"
                                                                                      id="select-location-1"
                                                                                      placeholder="Location"/>
                                        <img class="svg" src="{% static 'img/svg/gps-fixed-indicator.svg' %}"
                                             alt=""/>
                                    </div>
                                </div>
                                <a href="#"><img class="svg" src="{% static 'img/svg/search.svg' %}" alt=""/><span>Search</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="directify_fn_header_nav_list" style="margin-top: 1%">
                        <ul class="nav__hor">
                            <li>
                                <a href="{% url 'home' %}">Home<i class="xcon-"></i></a>
                            </li>
                            <li>
                                <a href="{% url 'place_list' %}">Places & Services<i class="xcon-angle-down"></i></a>
                                <ul class="sub_menu masonry-filter">
                                    {% for category in categories %}
                                        <li>
                                            <a href="{% url 'place_list' %}?category={{ category|urlencode }}"
                                               class="filter">
                                                {{ category|capfirst }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="#">Blog<i class="xcon-"></i></a>
                            </li>
                            <li>
                                <a href="#">About us<i class="xcon-"></i></a>
                            </li>
                            <li>
                                <a href="#contact_us">Contact us<i class="xcon-"></i></a>
                            </li>
                            <li class="add_listing">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'user_profile' %}">Profile</a>
                                    <img class="svg" src="{% static 'img/svg/human.svg' %}" alt=""/>
                                {% else %}
                                    <a href="{% url 'login' %}">Login</a>
                                {% endif %}
                            </li>
                            <li class="add_listing">
                                <a href="#">
                                    <img class="svg" src="{% static 'img/svg/pencil.svg' %}" alt=""/>
                                    <span>Add Listings</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </header>
{% endblock header %}
<!-- /HEADER -->

{% block content %}
    <!-- CONTENT -->
    <div class="directify_fn_content">

        <!-- PLACE OR SERVICE -->
        <div class="directify_fn_blog_single_wrap">
            <div class="directify_fn_blog_single">
                <div class="blog_single">
                    <div class="container">
                        <div class="blog_single_wrapper">

                            <!-- PLACE IMAGE MAIN -->
                            <div class="post_img">
                                {% if place.image_main %}
                                    <img src="{{ place.image_main.url }}" alt="{{ place.title }}"
                                         style="width: fit-content; height: auto">
                                {% elif place.image2 %}
                                    <img src="{{ place.image2.url }}" alt="{{ place.title }}"
                                         style="width: fit-content; height: auto">
                                {% elif place.image3 %}
                                    <img src="{{ place.image3.url }}" alt="{{ place.title }}"
                                         style="width: fit-content; height: auto">
                                {% elif place.image4 %}
                                    <img src="{{ place.image4.url }}" alt="{{ place.title }}"
                                         style="width: fit-content; height: auto">
                                {% elif place.image5 %}
                                    <img src="{{ place.image5.url }}" alt="{{ place.title }}"
                                         style="width: fit-content; height: auto">
                                {% else %}
                                    {% if place.category == 'Food & Drink' %}
                                        <img src="{% static 'img/places/services/Food and Drink service_1_11zon.jpg' %}"
                                             alt="{{ place.title }}"/>
                                    {% elif place.category == 'medical' %}
                                        <img src="{% static 'img/places/services/medical service_2_11zon.jpg' %}"
                                             alt="{{ place.title }}"/>
                                    {% elif place.category == 'technical' %}
                                        <img src="{% static 'img/places/services/technical service_4_11zon.jpg' %}"
                                             alt="{{ place.title }}"/>
                                    {% elif place.category == 'store' %}
                                        <img src="{% static 'img/places/services/store service_3_11zon.jpg' %}"
                                             alt="{{ place.title }}"/>
                                    {% elif place.category == 'entertainment' %}
                                        <img src="{% static 'img/places/services/entertainment service_6_11zon.jpg' %}"
                                             alt="{{ place.title }}"/>
                                    {% elif place.category == 'other' %}
                                        <img src="{% static 'img/places/services/other.png' %}"
                                             alt="{{ place.title }}"/>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <!-- /PLACE IMAGE MAIN -->

                            <!-- PLACE CONTENT -->
                            <div class="post_content">
                                <div class="title_holder">
                                    <span>
                                        Category : <a
                                            href="{% url 'place_list' %}?category={{ place.category|urlencode }}"
                                            class="filter">{{ place.category|capfirst }}</a>
                                        <span class="date">{{ place.datetime_created }}</span>
                                    </span>

                                    <div class="directify_fn_tags">
                                        <h5 style="color: #C10A28"><strong>Important :</strong></h5>
                                        <h6 style="color: #C10A28">Only the authenticity of the existence or
                                            non-existence of each location and the
                                            authenticity of the service providers' jobs have been reviewed by the site
                                            support. Accordingly, the site owner does not bear any responsibility or
                                            endorsement for the level of skill or quality of services provided by the
                                            stores
                                            or individuals introduced. Therefore, to remind you of the main purpose of
                                            this
                                            website, the final decision to use the services is yours and based on the
                                            suggestions of other users and is completely optional.
                                        </h6>
                                    </div>
                                    <hr>
                                    <h3>{{ place.title }}</h3>
                                    <p class="text">{{ place.description }}</p>
                                    <h4>Information's :</h4>
                                    <p class="text">City : {{ place.city }}</p>
                                    {% if place.address %}
                                    <p class="text">Address : {{ place.address }}</p>
                                    {% endif %}
                                    {% if place.phone_number %}
                                    <p class="text">Phone : {{ place.phone_number }}</p>
                                    {% endif %}
                                    {% if place.website %}
                                    <p class="text">Website : <a href="{{ place.website }}" target="_blank">{{ place.website }}</a></p>
                                    {% endif %}
                                </div>

                            </div>
                            <!-- /PLACE CONTENT -->

                            <!-- PLACE OTHER IMAGES -->
                            {% if  images %}
                                <div class="directify_fn_simple_famous_cities_wrap">
                                    <div class="directify_fn_simple_famous_cities">
                                        <div class="simple_famous_cities">
                                            <div class="container">
                                                <div class="simple_famous_cities_wrap">
                                                    <div class="title_holder">
                                                        <h3>Photos</h3>
                                                        <span class="line"></span>
                                                    </div>
                                                    <div class="fam_cities_wrap directify_fn_masonry">
                                                        {% for image in images %}
                                                            <div class="fam_city_wrap directify_fn_masonry_in">
                                                                <img src="{{ image }}" alt="{{ place.title }}"/>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <!-- /PLACE OTHER IMAGES -->

                            <!-- POST COMMENT -->
                            <div class="directify_fn_comment_wrapper">
                                <div class="directify_fn_comment">

                                    <!-- COMMENTS -->
                                    <div class="comments">

                                        <div class="title_holder">
                                            <h3>All Comments</h3>
                                        </div>

                                        <!-- #1 COMMENT -->
                                        <div class="comment_single">
                                            <div class="person_info">
                                                <div class="info">
                                                    <div class="img_holder">
                                                        <img src="img/blog/single1-com1.jpg" alt=""/>
                                                    </div>
                                                    <span class="number">07</span>
                                                    <span class="reviews">Reviews</span>
                                                    <span class="name">Markos</span>
                                                </div>
                                            </div>
                                            <div class="person_comment">
                                                <div class="inner">
                                                    <span><span class="date">2 Month ago</span><a
                                                            href="#">Reply</a></span>
                                                    <p>We took the Greenwich Village Food tour followed by the Historic
                                                        Downtown tour. Jen was a great guide. Full of energy and
                                                        interesting information. She also was flexible when we wanted to
                                                        go inside a church that wasn't actually part of the tour.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /#1 COMMENT -->

                                        <!-- #2 COMMENT -->
                                        <div class="comment_single">
                                            <div class="person_info">
                                                <div class="info">
                                                    <div class="img_holder">
                                                        <img src="img/blog/single1-com2.jpg" alt=""/>
                                                    </div>
                                                    <span class="number">07</span>
                                                    <span class="reviews">Reviews</span>
                                                    <span class="name">Alaida</span>
                                                </div>
                                            </div>
                                            <div class="person_comment">
                                                <div class="inner">
                                                    <span><span class="date">1 Month ago</span><a
                                                            href="#">Reply</a></span>
                                                    <p>Wear tennis shoes! There is lots of walking and I repeat lots of
                                                        walking! We began at Times Square and went by the diamond
                                                        district. We looked in store windows at the beautiful
                                                        jewelry.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /#2 COMMENT -->
                                    </div>
                                    <!-- /COMMENTS -->

                                    <!-- ADDING A COMMENT -->
                                    <div class="add_comment_wrap">
                                        <div class="add_comment">
                                            <div class="title_holder">
                                                <h3>Write a Comment</h3>
                                            </div>
                                            <form>
                                                <div class="your-comment">
                                                    <label>Your Comment<span>*</span></label>
                                                    <textarea id="creator-comment" cols="3" rows="10"></textarea>
                                                </div>
                                                <div class="your-name">
                                                    <label>Your Name<span>*</span></label>
                                                    <input type="text" id="creator-name"/>
                                                </div>
                                                <div class="your-email">
                                                    <label>Your Email<span>*</span></label>
                                                    <input type="text" id="creator-email"/>
                                                </div>
                                                <div class="your-website">
                                                    <label>Your Website</label>
                                                    <input type="text" id="creator-website"/>
                                                </div>
                                                <div class="your-button">
                                                    <input type="submit" id="creator-submit"
                                                           value="Submit Your Comment"/>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /ADDING A COMMENT -->

                                </div>
                            </div>
                            <!-- /POST COMMENT -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /PLACE OR SERVICE -->
    </div>
    <!-- /CONTENT -->
{% endblock content %}
