{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'New Service' %}{% endblock page_title %}


{% block content %}
    <!-- CONTENT -->
    <div class="directify_fn_content">
        <!-- PLACE OR SERVICE -->
        <div class="directify_fn_blog_single_wrap"
             style="background-image: url({% static 'img/listing_single/new_form_background.jpg' %}); background-size: cover">
            <div class="directify_fn_blog_single">
                <div class="blog_single">
                    <div class="container">
                        <div class="blog_single_wrapper" style="text-align: right; direction: rtl">
                            <!-- PLACE CONTENT -->
                            <div class="post_content" style="margin-top: 2rem; margin-bottom: 2rem">
                                <div class="title_holder">

                                    {% if user.is_authenticated %}
                                        <div class="directify_fn_tags">
                                            <h4><strong>{% trans 'Hi !' %}</strong></h4>
                                            <p style="font-size: large">{% trans 'Please enter the information about your desired location or service carefully. Your post will be reviewed by the site support after registration and, if the information is confirmed and accurate, it will be published within the next few days.' %}</p>
                                        </div>
                                        <hr>
                                        </div>
                                        </div>
                                        <!-- /PLACE CONTENT -->

                                        <!-- SUBMIT CONTENT -->
                                        <div class="directify_fn_submit_content">
                                        <div class="directify_fn_submit" style="margin-top: 2rem">
                                        <div class="form">
                                            <!-- SUBMIT FORM -->
                                            <form class="row g-3" method="POST">
                                                {% csrf_token %}
                                                {{ form|crispy }}
                                                <div class="col-12" style="font-size: large">
                                                    <button type="submit" class="btn btn-success">{% trans 'Submit' %}</button>
                                                </div>
                                            </form>
                                            <!-- /SUBMIT FORM -->

                                            {% else %}

                                            <!-- MAIN SECTION -->
                                            <div class="directify_fn_submit_main_section"
                                                 style="direction: rtl; text-align: right">
                                                <div class="have-account">
                                                    <p>{% trans 'Please log in to your account or register to access this section. Follow the link below.' %}</p>
                                                    <br>
                                                    <a href="{% url 'login' %}" class="md-trigger md-setperspective"
                                                       data-modal="modal-18">{% trans 'Login / Signup' %}</a>
                                                </div>
                                            </div>
                                            <!-- /MAIN SECTION -->

                                        </div>
                                    {% endif %}
                                    </div>
                                    </div>
                            <!-- /SUBMIT CONTENT -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /PLACE OR SERVICE -->
    </div>
    <!-- /CONTENT -->
{% endblock content %}