{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Services' %}{% endblock page_title %}

<!-- HEADER -->
{% block header %}
    <header class="directify_fn_header_wrap" data-bg-type="light">
        <div>
            <div class="directify_fn_header">
                <div class="header">
                    <div class="directify_fn_header_logo">
                        <a class="dark" href="{% url 'home' %}"><img src="{% static 'img/logo_small.png' %}"
                                                                     alt=""/></a>
                        <a class="light" href="{% url 'home' %}"><img src="{% static 'img/logo_small.png' %}"
                                                                      alt=""/></a>
                    </div>
                    <div class="directify_fn_header_search">
                        <a href="#" style="margin-top: 15%">
                            <img class="svg" src="{% static 'img/svg/search.svg' %}" alt=""/>
                            Search
                        </a>
                        <div class="directify_fn_header_search_see_wrap one">
                            <div class="header_search_see">
                                <div class="selects">
                                    <div>
                                        <label>
                                            <input class="directify_fn_search_input" type="search"
                                                   placeholder="What Are You Looking For?"/>
                                        </label>
                                    </div>
                                    <div>
                                        <label>
                                            <select class="directify_fn_select">
                                                <option value="all">All Listings</option>
                                                <option value="restaurant">Restaurants</option>
                                                <option value="hotel">Hotels</option>
                                                <option value="shopping">Shopping</option>
                                                <option value="gallery">Gallery</option>
                                                <option value="park">Park</option>
                                                <option value="movie">Movie</option>
                                                <option value="service">Services</option>
                                                <option value="theatre">Theatres</option>
                                                <option value="hospital">Hospitals</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div>
                                        <label for="select-location-1"></label><input type="text"
                                                                                      id="select-location-1"
                                                                                      placeholder="Location"/>
                                        <img class="svg" src="{% static 'img/svg/gps-fixed-indicator.svg' %}"
                                             alt=""/>
                                    </div>
                                </div>
                                <a href="#"><img class="svg" src="{% static 'img/svg/search.svg' %}" alt=""/><span>Search</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="directify_fn_header_nav_list" style="margin-top: 1%">
                        <ul class="nav__hor">
                            <li>
                                <a href="{% url 'home' %}">Home<i class="xcon-"></i></a>
                            </li>
                            <li>
                                <a href="{% url 'place_list' %}">Places & Services<i class="xcon-angle-down"></i></a>
                                <ul class="sub_menu masonry-filter">
                                    {% for category in categories %}
                                        <li>
                                            <a href="{% url 'place_list' %}?category={{ category|urlencode }}"
                                               class="filter">
                                                {{ category|capfirst }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="#">Blog<i class="xcon-"></i></a>
                            </li>
                            <li>
                                <a href="#">About us<i class="xcon-"></i></a>
                            </li>
                            <li>
                                <a href="#contact_us">Contact us<i class="xcon-"></i></a>
                            </li>
                            <li class="add_listing">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'user_profile' %}">Profile</a>
                                    <img class="svg" src="{% static 'img/svg/human.svg' %}" alt=""/>
                                {% else %}
                                    <a href="{% url 'login' %}">Login</a>
                                {% endif %}
                            </li>
                            <li class="add_listing">
                                <a href="#">
                                    <img class="svg" src="{% static 'img/svg/pencil.svg' %}" alt=""/>
                                    <span>Add Listings</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </header>
{% endblock header %}
<!-- /HEADER -->

{% block content %}
    <!-- CONTENT -->
    <div class="directify_fn_content">
        <!-- PLACE OR SERVICE -->
        <div class="directify_fn_blog_wrap">
            <div class="directify_fn_blog">
                <div class="blog">
                    <div class="container">
                        <div class="blog_wrapper">
                            <ul class="directify_fn_masonry mypost">
                                {% for place in places %}
                                    <li class="directify_fn_masonry_in">
                                        <div class="post">
                                            <div class="img_holder">
                                                <a href="{% url 'place_detail' place.id %}">
                                                    {% if place.image_main %}
                                                        <img src="{{ place.image_main.url }}" alt="{{ place.title }}"/>
                                                    {% elif place.image2 %}
                                                        <img src="{{ place.image2.url }}" alt="{{ place.title }}"/>
                                                    {% elif place.image3 %}
                                                        <img src="{{ place.image3.url }}" alt="{{ place.title }}"/>
                                                    {% elif place.image4 %}
                                                        <img src="{{ place.image4.url }}" alt="{{ place.title }}"/>
                                                    {% elif place.image5 %}
                                                        <img src="{{ place.image5.url }}" alt="{{ place.title }}"/>
                                                    {% else %}
                                                        {% if place.category == 'Food & Drink' %}
                                                            <img src="{% static 'img/places/services/Food and Drink service_1_11zon.jpg' %}"
                                                                 alt="{{ place.title }}"/>
                                                        {% elif place.category == 'medical' %}
                                                            <img src="{% static 'img/places/services/medical service_2_11zon.jpg' %}"
                                                                 alt="{{ place.title }}"/>
                                                        {% elif place.category == 'technical' %}
                                                            <img src="{% static 'img/places/services/technical service_4_11zon.jpg' %}"
                                                                 alt="{{ place.title }}"/>
                                                        {% elif place.category == 'store' %}
                                                            <img src="{% static 'img/places/services/store service_3_11zon.jpg' %}"
                                                                 alt="{{ place.title }}"/>
                                                        {% elif place.category == 'entertainment' %}
                                                            <img src="{% static 'img/places/services/entertainment service_6_11zon.jpg' %}"
                                                                 alt="{{ place.title }}"/>
                                                        {% elif place.category == 'other' %}
                                                            <img src="{% static 'img/places/services/other.png' %}"
                                                                 alt="{{ place.title }}"/>
                                                        {% endif %}
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="title_holder">
                                                <h3><a href="{% url 'place_detail' place.id %}">{{ place.title }}</a>
                                                </h3>
                                                <p><strong>Category :</strong> {{ place.category }}</p>
                                                <p><strong>City :</strong> {{ place.city }}</p>
                                                <span class="date"><strong>Created :</strong> {{ place.datetime_created }}</span>
                                                <hr>
                                                <br>
                                                <span><a href="{% url 'place_detail' place.id %}">Read More</a></span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <h6>Page Number</h6>
                            <hr>
                            <div class="directify_fn_pagination" style="width: fit-content; margin-left: 50%;">
                                <ul>
                                    {% if page_obj.has_previous %}
                                        <li>
                                            <a href="?page={{ page_obj.previous_page_number }}"><span>{{ page_obj.previous_page_number }}</span></a>
                                        </li>
                                    {% endif %}
                                    <li class="activated">
                                        <a href="?page={{ page_obj.number }}"><span>{{ page_obj.number }}</span></a>
                                    </li>
                                    {% if page_obj.has_next %}
                                        <li>
                                            <a href="?page={{ page_obj.next_page_number }}"><span>{{ page_obj.next_page_number }}</span></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /PLACE OR SERVICE -->
    </div>
    <!-- /CONTENT -->
{% endblock content %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filters = document.querySelectorAll(".filter");
        filters.forEach(filter => {
            filter.addEventListener("click", function (event) {
                event.preventDefault();
                const selectedCategory = this.getAttribute("data-filter").trim();

                document.querySelectorAll(".place-item").forEach(item => {
                    if (selectedCategory === "all" || item.classList.contains(selectedCategory)) {
                        item.style.display = "block";
                    } else {
                        item.style.display = "none";
                    }
                });
            });
        });
    });
</script>

