{% load static %}
{% load i18n %}

<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="fa"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="fa"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="fa"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="fa"> <!--<![endif]-->
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="description" content="Directify">
    <meta name="author" content="Frenify">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Persisch-Tor | {% block page_title %}{% endblock page_title %}</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Work+Sans:300,400,500,600,700,800,900"
          rel="stylesheet">
    <!-- STYLES -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/select.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/hamburgers.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/range.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!--[if lt IE 9]> <script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script><![endif]-->
    <!-- اضافه کردن main.js -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <!--  CDN Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<!-- WRAPPER ALL -->
<div class="directify_fn_wrapper_all">

    <!-- MOBILE MENU -->
    {% block header_mobile %}
        <div class="directify_fn_mobile_menu_wrap" data-bg-type="light">
            <div class="directify_fn_mobile_menu">
                <div class="mobile_logo">
                    <a class="dark" href="{% url 'home' %}"><img src="{% static 'img/logo_small.png' %}" alt=""/></a>
                    <a class="light" href="{% url 'home' %}"><img src="{% static 'img/logo_small.png' %}" alt=""/></a>
                </div>
                <div class="hamburger hamburger--collapse-r">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>

            <div class="directify_fn_mobile_nav">
                <ul class="nav">
                    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'place_list' %}">{% trans 'Places & Services' %}<i class="xcon-angle-down"></i></a>
                        <ul class="sub_menu masonry-filter">
                            {% for category in categories %}
                                <li>
                                    <a href="{% url 'place_list' %}?category={{ category|urlencode }}" class="filter">
                                        {{ category|capfirst }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {#                    <li><a href="#">Blog</a></li>#}
                    <li><a href="#about_us">{% trans 'About us' %}</a></li>
                    <li><a href="#">{% trans 'Contact us' %}</a></li>
                    <li class="log-in">
                        {% if user.is_authenticated %}
                            <a href="{% url 'user_profile' %}">{% trans 'Profile' %}</a>
                        {% else %}
                            <a href="{% url 'login' %}">{% trans 'Login' %}</a>
                        {% endif %}
                    </li>
                    <li class="add_listing">
                        <a href="#">
                            <img class="svg" src="{% static 'img/svg/pencil.svg' %}" alt=""/>
                            <span>{% trans 'Add new Service' %}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock header_mobile %}
    <!-- /MOBILE MENU -->

    <!-- HEADER -->
    <header class="directify_fn_header_wrap" data-bg-type="light">
        <div>
            <div class="directify_fn_header">
                <div class="header">
                    <div class="directify_fn_header_logo">
                        <a class="dark" href="{% url 'home' %}"><img src="{% static 'img/logo_small.png' %}"
                                                                     alt=""/></a>
                        <a class="light" href="{% url 'home' %}"><img src="{% static 'img/logo_small.png' %}"
                                                                      alt=""/></a>
                    </div>
                    <div class="directify_fn_header_nav_list" style="margin-top: 1%;">
                        <ul class="nav__hor">
                            <li>
                                <a style="font-size: large" href="#contact_us">{% trans 'Contact us' %}<i
                                        class="xcon-"></i></a>
                            </li>
                            <li>
                                <a style="font-size: large" href="#about_us">{% trans 'About us' %}<i
                                        class="xcon-"></i></a>
                            </li>
                            <li>
                                <a style="font-size: large" href="{% url 'place_list' %}">
                                    {% trans 'Places & Services' %}
                                    <i class="xcon-angle-down"></i>
                                </a>
                                <ul class="sub_menu masonry-filter">
                                    {% for category in categories %}
                                        <li>
                                            <a style="font-size: 1rem"
                                               href="{% url 'place_list' %}?category={{ category|urlencode }}"
                                               class="filter">
                                                {{ category|capfirst }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a style="font-size: large" href="{% url 'home' %}">{% trans 'Home' %}<i
                                        class="xcon-"></i></a>
                            </li>
                            <li class="add_listing">
                                {% if user.is_authenticated %}
                                    <a style="font-size: large"
                                       href="{% url 'user_profile' %}">{% trans 'Profile' %}</a>
                                    <img class="svg" src="{% static 'img/svg/human.svg' %}" alt=""/>
                                {% else %}
                                    <a style="font-size: large" href="{% url 'login' %}">{% trans 'Login' %}</a>
                                {% endif %}
                            </li>
                            <li class="add_listing">
                                <a style="font-size: large" href="{% url 'place_create' %}">
                                    <img class="svg" src="{% static 'img/svg/pencil.svg' %}" alt=""/>
                                    <span>{% trans 'Add new Service' %}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- /HEADER -->

    <!-- Content -->
    {% block content %}
    {% endblock content %}
    <!-- /Content -->

    <!-- FOOTER -->
    <footer class="directify_fn_footer_wrap">
        <div class="directify_fn_footer">
            <div class="footer_wrap">
                <div class="footer_location_wrap">
                    <div class="container">
                        <div class="footer_location">
                            <div class="footer_location_rows">
                                <div class="footer_location_row">
                                    <div class="footer_logo" id="contact_us">
                                        <a href="#">
                                            <img class="dark" src="{% static 'img/logo.png' %}" alt=""/>
                                        </a>
                                    </div>
                                </div>
                                <div class="footer_location_row">
                                    <span>San Francisco State University, 1600 Holloway Ave, San Francisco, CA 94132</span>
                                </div>
                                <div class="footer_location_row">
                                    <span>Directify Theme - Built by Flab Team &amp; Powered by Photoshop</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_nav_list_wrap">
                    <div class="container">
                        <div class="footer_nav_list">
                            <ul class="social_icons">
                                <li><a href="#"><i class="xcon-facebook"></i></a></li>
                                <li><a href="#"><i class="xcon-twitter"></i></a></li>
                                <li><a href="#"><i class="xcon-instagram"></i></a></li>
                                <li><a href="#"><i class="xcon-pinterest"></i></a></li>
                                <li><a href="#"><i class="xcon-gplus"></i></a></li>
                            </ul>
                            <ul class="menu_list">
                                <li>Directify 2017 — Designed by <a href="#">Flab Team</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->

    <a class="totop" href="#"><i class="xcon-angle-up"></i></a>
    <a class="listed" href="#"><img class="svg" src="{% static 'img/svg/pencil.svg' %}" alt=""/></a>

</div>
<!-- /WRAPPER ALL -->

<!-- بارگذاری استاتیک -->
{% load static %}

<!-- SCRIPTS -->
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<!--[if lt IE 11]>
<script type="text/javascript" src="{% static 'js/ie8.js' %}"></script> <![endif]-->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'js/MarkerClusterGroup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/markers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>

<!-- لینک CSS برای MDB -->
<link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit/css/mdb.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/mdbootstrap@5.1.0/dist/css/mdb.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css" rel="stylesheet">
<!-- MDB UI Kit -->
<script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit/js/mdb.min.js"></script>
<!-- MDB Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mdbootstrap@5.1.0/dist/js/mdb.min.js"></script>
</body>
</html>