{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Home' %}{% endblock page_title %}


{% block content %}

    <!-- CONTENT -->
    <div class="directify_fn_content">

        <div class="directify_fn_all_listings_wrap" style="background-image: url('{% static 'img/home/803.jpg' %}')">
            <div class="directify_fn_all_listings">
                <div class="all_listings">
                    <div class="container">
                        <div class="listings_wrap">
                            <div class="discovering_wrap">
                                <div class="discovering">
                                    <div class="title_holder">
                                        <h1 style="margin-bottom: 10%"><strong>Persisch-Tor</strong></h1>
                                        <h3>Discover the Best Places an Services</h3>
                                        <span>Persisch Tor helps you find all top locations</span>
                                    </div>
                                    <div class="searching">
                                        <label>
                                            <input class="directify_fn_search_input" type="search"
                                                   placeholder="What Are You Looking For?"/>
                                        </label>
                                        <a class="directify_fn_search_btn" href="#">
                                            <img class="svg" src="{% static 'img/svg/search.svg' %}" alt=""/><span>Search</span></a>
                                        <div class="clearfix"></div>
                                        <span class="browse_me">or browse</span>
                                        <img class="svg my_dotted_arrow" src="{% static 'img/svg/arrow2.svg' %}"
                                             alt=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="listing_categories_wrap">
                                <div class="listing_categories">
                                    <div class="list_cat">
                                        <div class="cat_single_wrap" data-hover-text="#0089e2" data-hover-bg=""
                                             data-hover-border="#0089e2" data-skew="" data-text-color=""
                                             data-bg-color="" data-bg-opacity="" data-border-width=""
                                             data-border-color="">
                                            {% for item in places %}
                                                <div class="cat_single">
                                                    <div class="cat_single_bg">
                                                        <div class="overlay_color"></div>
                                                    </div>
                                                    <div class="cat_single_content">
                                                        <a href="{% url 'place_list' %}?category={{ item.category|urlencode }}"
                                                           class="filter">
                                                            {% if item.category == 'food & drink' %}
                                                                <img class="svg"
                                                                     src="{% static 'img/svg/restaurant.svg' %}"
                                                                     alt="Food & Drink"/>
                                                            {% endif %}
                                                            {% if item.category == 'medical' %}
                                                                <img class="svg"
                                                                     src="{% static 'img/svg/hospital.svg' %}"
                                                                     alt="medical"/>
                                                            {% endif %}
                                                            {% if item.category == 'technical' %}
                                                                <img class="svg"
                                                                     src="{% static 'img/svg/service.svg' %}"
                                                                     alt="technical"/>
                                                            {% endif %}
                                                            {% if item.category == 'store' %}
                                                                <img class="svg"
                                                                     src="{% static 'img/svg/shopping-cart.svg' %}"
                                                                     alt="store"/>
                                                            {% endif %}
                                                            {% if item.category == 'entertainment' %}
                                                                <img class="svg"
                                                                     src="{% static 'img/svg/bicycle.svg' %}"
                                                                     alt="entertainment"/>
                                                            {% endif %}
                                                            {% if item.category == 'other' %}
                                                                <img class="svg"
                                                                     src="{% static 'img/svg/magnifying-glass-browser.svg' %}"
                                                                     alt="other"/>
                                                            {% endif %}
                                                            <br>
                                                            <span style="margin-top: 25%"
                                                                  class="cat_title">{{ item.category }}</span>
                                                        </a>
                                                    </div>

                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="all_cat_btn">
                                            <a href="{% url 'place_list' %}"><span class="text">All Services</span>
                                                <i class="xcon-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FAMOUS CITIES SIMPLE(111) -->
        <div class="directify_fn_simple_famous_cities_wrap">
            <div class="directify_fn_simple_famous_cities">
                <div class="simple_famous_cities">
                    <div class="container">
                        <div class="simple_famous_cities_wrap">
                            <div class="title_holder">
                                <h3>Most Popular Cities to Travel</h3>
                                <span class="title">These are Top Places that recommended by Directify</span>
                                <span class="line"></span>
                            </div>
                            <div class="fam_cities_wrap directify_fn_masonry">
                                <div class="fam_city_wrap directify_fn_masonry_in">
                                    <a href="#"><img src="{% static 'img/popular_cities/city1-m.jpg' %}" alt=""/></a>
                                    <div class="title_holder">
                                        <a href="#">
                                            <span class="city">New York</span>
                                            <span class="listings">227 Listings</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="fam_city_wrap directify_fn_masonry_in">
                                    <a href="#"><img src="{% static 'img/popular_cities/city2-m.jpg' %}" alt=""/></a>
                                    <div class="title_holder">
                                        <a href="#">
                                            <span class="city">Paris</span>
                                            <span class="listings">154 Listings</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="fam_city_wrap directify_fn_masonry_in">
                                    <a href="#"><img src="{% static 'img/popular_cities/city3-m.jpg' %}" alt=""/></a>
                                    <div class="title_holder">
                                        <a href="#">
                                            <span class="city">Rome</span>
                                            <span class="listings">854 Listings</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="fam_city_wrap directify_fn_masonry_in">
                                    <a href="#"><img src="{% static 'img/popular_cities/city4-m.jpg' %}" alt=""/></a>
                                    <div class="title_holder">
                                        <a href="#">
                                            <span class="city">London</span>
                                            <span class="listings">239 Listings</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="fam_city_wrap directify_fn_masonry_in">
                                    <a href="#"><img src="{% static 'img/popular_cities/city5-m.jpg' %}" alt=""/></a>
                                    <div class="title_holder">
                                        <a href="#">
                                            <span class="city">Moscow</span>
                                            <span class="listings">634 Listings</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="fam_city_wrap directify_fn_masonry_in">
                                    <a href="#"><img src="{% static 'img/popular_cities/city6-m.jpg' %}" alt=""/></a>
                                    <div class="title_holder">
                                        <a href="#">
                                            <span class="city">Tokyo</span>
                                            <span class="listings">123 Listings</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /FAMOUS CITIES SIMPLE(111) -->

        <!-- HOW IT WORK -->
        <div class="directify_fn_workstep_wrap">
            <div class="directify_fn_workstep">
                <div class="workstep_wrap">
                    <div class="container">
                        <div class="workstep">
                            <div class="title_holder">
                                <h3>How It Works</h3>
                                <span class="title">Let the Directify direct you toward to top places</span>
                                <span class="line"></span>
                            </div>
                            <div class="steps">
                                <div class="step_single_wrap">
                                    <div class="step_single">
                                        <div class="number">
                                            <span class="text">01</span>
                                            <span class="after"></span>
                                        </div>
                                        <div class="title_holder">
                                            <h3>Choose What To Do</h3>
                                            <span>Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit or a mall to do some shopping?</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="step_single_wrap">
                                    <div class="step_single">
                                        <div class="number">
                                            <span class="text">02</span>
                                            <span class="after"></span>
                                        </div>
                                        <div class="title_holder">
                                            <h3>Find the Best Locations </h3>
                                            <span>Search and filter hundreds of listings, read reviews, explore photos and find the perfect spot.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="step_single_wrap">
                                    <div class="step_single">
                                        <div class="number">
                                            <span class="text">03</span>
                                            <span class="after"></span>
                                        </div>
                                        <div class="title_holder">
                                            <h3>Go and Have Fun</h3>
                                            <span>Go and have a good time or even make a booking directly from the listing page. Sed do eiusmod tempor </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /HOW IT WORK -->


        <!-- FROM OUR BLOG -->
        <div class="directify_fn_exmblog_wrap">
            <div class="directify_fn_exmblog">
                <div class="exmblog_wrap">
                    <div class="container">
                        <div class="exmblogs">
                            <div class="title_holder">
                                <h3>From Our Blog</h3>
                                <span class="title">We post everyday about places that you want to know about.</span>
                                <span class="line"></span>
                            </div>
                            <div class="exmblog_single_wrap">
                                <div class="exmblog_single">
                                    <img class="svg" src="{% static 'img/svg/open-book.svg' %}" alt=""/>
                                    <div class="title_holder">
                                        <h3><a href="#">Best Destinations for Travellers</a></h3>
                                        <span class="title">Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</span>
                                        <span class="read_more"><a href="#">Read More</a><span
                                                class="date"> - April 01</span></span>
                                    </div>
                                </div>
                                <div class="exmblog_single">
                                    <img class="svg" src="{% static 'img/svg/open-book.svg' %}" alt=""/>
                                    <div class="title_holder">
                                        <h3><a href="#">How to Promote Your Business</a></h3>
                                        <span class="title">Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</span>
                                        <span class="read_more"><a href="#">Read More</a><span
                                                class="date"> - March 27</span></span>
                                    </div>
                                </div>
                                <div class="exmblog_single">
                                    <img class="svg" src="{% static 'img/svg/open-book.svg' %}" alt=""/>
                                    <div class="title_holder">
                                        <h3><a href="#">Tips for High Quality Holiday</a></h3>
                                        <span class="title">Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</span>
                                        <span class="read_more"><a href="#">Read More</a><span class="date"> - January 18</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /FROM OUR BLOG -->

    </div>
    <!-- /CONTENT -->

{% endblock content %}